<div class="med-layout">

  <!-- Em mobile: lista ocupa tela inteira, some ao selecionar -->
  <div class="med-layout-list" [class.has-selection]="pacienteSelecionadoId">
    <app-paciente-list
      (pacienteSelecionado)="onPacienteSelecionado($event)">
    </app-paciente-list>
  </div>

  <!-- Em mobile: detalhes aparecem ao selecionar -->
  <div class="med-layout-detail" *ngIf="pacienteSelecionadoId">

    <!-- Botão voltar (mobile) -->
    <div class="med-back-btn" (click)="pacienteSelecionadoId = null">
      <i class="pi pi-arrow-left"></i>
      <span>Voltar à lista</span>
    </div>

    <app-paciente-resumo [pacienteId]="pacienteSelecionadoId"></app-paciente-resumo>
    <app-paciente-tabs   [pacienteId]="pacienteSelecionadoId"></app-paciente-tabs>
  </div>

</div>