<p-card [header]="'Evolução enfermagem'" class="w-full max-w-md m-auto shadow-3"
    *ngIf="evolucaoEnfermagem && evolucaoEnfermagem.length > 0; else semDados">
    <div *ngFor="let item of evolucaoEnfermagem" class="p-fluid mb-4 border-bottom pb-4">
        <div class="field">
            <label>Paciente:</label>
            <span>{{ item.pacienteNome }} (ID: {{ item.pacienteId }})</span>
        </div>

        <div class="field">
            <label>Sala:</label>
            <span>{{ item.sala }}</span>
        </div>

        <div class="field">
            <label>Uso de:</label>
            <span>{{ item.usoDe }}</span>
        </div>

        <div class="field">
            <label>Em Uso de:</label>
            <span>{{ item.emUsoDe}}</span>
        </div>

        <div class="field">
            <label>Estado Geral:</label>
            <span>{{ item.estadoGeral }}</span>
        </div>

        <div class="field">
            <label>Estado Paciente:</label>
            <span>{{ item.estadoPaciente }}</span>
        </div>


        <p-divider></p-divider>

        <div class="field flex flex-wrap gap-2">
            <p-tag *ngIf="item.hemodinamententeEstavel" severity="success" value="Hemodinamicamente estável"></p-tag>
            <p-tag *ngIf="!item.hemodinamententeEstavel" severity="warn" value="Não hemodinamicamente estável"></p-tag>
        </div>

        <p-divider></p-divider>
    </div>
</p-card>

<ng-template #semDados>
    <p class="text-center text-600">Nenhum registro de Evolução de Enfermagem encontrado para este paciente.</p>
</ng-template>