<p-card header="Pacientes Lista" class="shadow-3 w-full max-w-xs md:max-w-md m-auto mt-4">
    <div class="flex flex-column gap-3">
        <p-floatlabel variant="on">
            <input pInputText type="text" id="on_label" [(ngModel)]="searchText" autocomplete="on" />
            <label for="on_label">Buscar paciente...</label>
        </p-floatlabel>

        <p-divider></p-divider>

        <p-listbox [options]="filtrarPacientes()" optionLabel="nome" class="w-full"
            [listStyle]="{ 'max-height': '400px' }" (onChange)="selecionar($event.value)">

            <ng-template let-p pTemplate="item">
                <div class="flex flex-row align-items-center gap-3 p-2 w-full">

                    <p-avatar icon="pi pi-user" shape="circle" size="large"></p-avatar>

                    <div class="flex flex-column">
                        <span class="font-semibold text-900">{{ p.nome }}</span>
                        <small class="text-600 mt-1">{{ p.peso }}</small>
                        <small class="text-600">{{ p.ses }}</small>
                        <p-tag [value]="getStatusLabel(p.status)" class="mt-1"></p-tag>
                    </div>

                </div>
            </ng-template>

        </p-listbox>

        <p-divider></p-divider>

        <button pButton type="button" icon="pi pi-refresh" label="Recarregar" class="p-button-sm"
            (click)="loadPacientes()"></button>
    </div>
</p-card>